@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: #0e1217;
}

/* Message */
.alert-success {
    color: #fff;
    background: #238636;
    /*    border: 1px solid rgba(240,246,252,0.1);*/
    box-shadow: 0 0 transparent;
    padding: 5px;
    border-radius: 5px;
}
.alert-danger {
    color: #fff;
    background: #f85149;
    border: 1px solid rgba(240,246,252,0.1);
    box-shadow: 0 0 transparent;
    padding: 5px;
    border-radius: 5px;
}

/* Level */
#levels-container {
    color: #183153;
}
#level-0, #level-1, #level-2, #level-3,  #level-4, #level-5, #level-6, #level-7, #level-8, #level-9
{
    background: #1c1f26;
    border: 1px solid #a8b3cf33;
    color: white;
}
#level-0:hover, #level-1:hover, #level-2:hover, #level-3:hover,  #level-4:hover, #level-5:hover, #level-6:hover, #level-7:hover, #level-8:hover, #level-9:hover
{
    transition: 0.3s ease-out;
    background: rgba(28, 31, 38, 0.91);
    border: 1px solid rgba(168, 179, 207, 0.43);
    color: white;
}